<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.DeptMapper">

    <select id="getAll" resultType="com.itheima.pojo.Dept">
        select id, name, create_time, update_time from dept;
    </select>
    <delete id="deleteDeptById">
        delete from dept where id=#{id}
    </delete>
    <insert id="saveDept">
        insert into dept (id, name, create_time, update_time) VALUES (null,#{name},now(),now())
    </insert>
<!--应该在插入单行的时候使用VALUES，在插入多行的时候使用VALUE-->
<!--    业务代码应该在业务的service层去实现，而不是让dao层去实现。
老师说可以，那就应该时可以吧-->
    <select id="getInfoById" resultType="com.itheima.pojo.Dept">
        select id, name, create_time, update_time from dept where id=#{id};
    </select>
    <update id="updateById">
        update dept set
        <if test="name!=null">name=#{name}</if>
        ,update_time=#{updateTime} where id=#{id}
    </update>


</mapper>