<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpMapper">
<!--    修改员工信息-->
    <update id="updateEmp">
        update tlias.emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </delete>

    <select id="queryPage" resultType="com.itheima.pojo.Emp">
        select t1.*,t2.name deptName from emp t1 left join dept t2 on t1.dept_id = t2.id
        <where>
            <if test="name!=null and name!=''">
                t1.name like concat('%',#{name},'%')
            </if>

            <if test="gender!=null and gender!=''">
                and t1.gender=#{gender}
            </if>
            <if test="begin!=null and end!=null">
                and t1.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by t1.update_time desc
    </select>

    <resultMap id="queryEmpInfoqueryEmpInfo" type="com.itheima.pojo.Emp">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="job" property="job"/>
        <result column="salary" property="salary"/>
        <result column="image" property="image"/>
        <result column="entry_date" property="entryDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

<!--        <result column="name" property="deptName"/>-->

        <collection property="exprList" ofType="com.itheima.pojo.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="begin" property="begin"/>
            <result column="end" property="end"/>
            <result column="company" property="company"/>
            <result column="ee_job" property="job"/>
            <result column="emp_id" property="empId"/>
        </collection>
    </resultMap>
    <select id="queryById" resultMap="queryEmpInfoqueryEmpInfo">
        select t1.*,
               t2.id   ee_id,
               t2.emp_id,
               t2.begin,
               t2.end,
               t2.company,
               t2.job ee_job
        from emp t1
                left join tlias.emp_expr t2 on t1.id = t2.emp_id
        where t1.id=#{id}
    </select>
    <select id="queryList" resultType="com.itheima.pojo.Emp">
        select t1.*,t2.name deptName from emp t1 left join dept t2 on t1.dept_id = t2.id
    </select>
    <select id="login" resultType="com.itheima.pojo.LoginInfo">
        select * from emp where username=#{username} and password=#{password}
    </select>
</mapper>